<!doctype html>
<html lang="en">

<head>
  <title>Eventos</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
   
    <link rel="stylesheet" href="./styles/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
  
</head>

<body>
  <header id="header"></header>

  <main>
    <div id="app" class="container">
      <h1>Proximos Eventos</h1>
      

      <section v-if="error">
        <p>Lo sentimos, no podemos mostrar los datos en este momento</p>
      </section>
      <section v-else>
        <section v-if="cargando">
            <div class="d-flex justify-content-center align-items-center">
              <div class="spinner-border text-primary spinner-border-sm"
                role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
        </section>
        <section v-else>
          <a class="btn btn-success" href="evento_nuevo.html">Agregar evento</a>
          <div  class="table-responsive" >
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">N° de Cliente</th>
                  <th scope="col">Fecha de Evento</th>
                  <th scope="col">Nombre y Apellido</th>
                  <th scope="col">Numero de Contacto</th>
                  <th scope="col">Tipo de Evento</th>
                  <th scope="col">Valor del Salon</th>
                  <th scope="col">Cantidad de Invitados</th>
                  <th scope="col">Responsable</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr class="" v-for="e in eventos">
                  <td scope="row">{{e.id}}</td>
                  <td>{{e.fechaEvento}}</td>
                  <td>{{e.nombreApellido}}</td>
                  <td>{{e.numContacto}}</td>
                  <td>{{e.tipoEvento}}</td>
                  <td>{{e.valorSalon}}</td>
                  <td>{{e.cantInvitados}}</td>
                  <td>{{e.responsable}}</td>
                 
                  <td>
                    <a class="btn btn-primary" :href="'evento_editar.html?id='+e.id+'&fechaEvento='+e.fechaEvento+'&nombreApellido='+e.nombreApellido+'&numContacto='+e.numContacto+'&tipoEvento='+e.tipoEvento+'&valorSalon='+e.valorSalon+'&cantInvitados='+e.cantInvitados+'&responsable='+e.responsable">Editar</a>
                    <button type="button" class="btn btn-danger" v-on:click="eliminar(e.id)">Eliminar</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>
      </section>
      
      
    </div>
  </main>

  <footer></footer>

  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
  
  <script src="./js/main.js"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="./js/eventos.js"></script>
</body>

</html>